body {
    font-family: sans-serif;
    padding: 1rem 0rem;
    font-size: 12px;
}

h4 {
    margin-top: 3rem;
}

.DateRangePickerInput {
    background-color: #CAFFFC;
}

.DateRangePickerInput > div {
    background-color: transparent;
}

.DateRangePickerInput > div > input {
    background-color: transparent;
    font-weight: bold;
    text-align: center;
}

.DateInput {
    width: 150px;
}

table > * > tr > *:last-child {
    text-align: right;
}

#table_spends_transactions > * > tr > *:nth-last-child(2) {
    text-align: right;
}

#table_gains_transactions > * > tr > *:nth-last-child(2) {
    text-align: right;
}

#table_all_months
{
    font-size: 12px;
    /* text-align: right; */
}

#table_all_months > * > tr > *:nth-child(n+3)
{
    text-align: right;
}

#table_all_months > :not(caption) > * > * {
    padding: .1rem;
}